<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Danh sách đơn hàng</h2>

<table border="1">
    <thead>
    <tr>
        <th>Mã đơn hàng</th>
        <th>Tên người nhận</th>
        <th>Số điện thoại</th>
        <th>Địa chỉ</th>
        <th>Hành động</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.orderId}">ID</td>
        <td th:text="${order.recipientName}">Tên</td>
        <td th:text="${order.phoneNumber}">SĐT</td>
        <td th:text="${order.address}">Địa chỉ</td>
        <td>
            <a th:href="@{'/orderDetail?orderId=' + ${order.orderId}}">Xem chi tiết</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>